//MEDIA QUERY

@mixin tablet {
  @media (min-width:641px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:1025px) {
    @content;
  }
}

//CLEARFIX

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}