//GLOBAL

html{
	font-size: 16px;
	margin:0;
	padding:0;
	font-size:100%;
}

body{
	background:white;
	margin:0;
	padding:0;
	font-family:$ff-body;
	font-size:1rem;
}

h1{
	line-height: 2rem;
	color:#0078a0;
	font-family:$ff-headline;
	font-size:1.75rem; //28px
	text-transform:uppercase;
}

h2{
	line-height: 2rem;
	color:#0078a0;
	font-family:$ff-headline;
	font-size:1.5rem; //24px
	text-transform:uppercase;
}

h3{
	line-height: 1.5rem !important;
	color:#222;
	font-family:$ff-headline;
	font-size:1.3125rem; //21px
	margin-bottom:1.25rem;
}

h4{
	text-transform: uppercase;
	line-height: 1.5rem !important;
	color:#222;
	font-family:$ff-body-bold;
	font-size:1.125rem; //18px
	text-transform:uppercase;
}

img{
	max-width: 100%;
}

a{
	color:#f6931c;
	text-decoration: none;
}

a:hover{
	color:#222;
	text-decoration: underline;
}

strong{
	font-family: $ff-body-bold;
}

blockquote {
  background: #f9f9f9 !important;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 20px;
  quotes: "\201C""\201D""\2018""\2019" !important;
  line-height: 1.75rem;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

ul{
	list-style-type:none !important;
}

.hybridauth-widget-wrapper{
	margin-bottom:1.25rem;
	width:100%;
	background:$blue;
	padding:1rem;
	display:inline-block;
	border-radius:5px;

	& h3{
		text-align: center;
		text-transform: uppercase;
		color:$white;
		margin-bottom:1rem;
	}
}

.hybridauth-widget-wrapper .hybridauth-widget{
	text-align: center;
}

.hybridauth-icon-hybridauth-48{
	opacity:1;
}

span.hybridauth-icon{
	box-shadow: 1px 1px 3px black;
    border-radius: 5px;
}

.hybridauth-widget-wrapper ul.hybridauth-widget li{
	margin:.5rem;
}

.main ul.hybridauth-widget li:before{
	display:none;
}

.main .view-id-easy_blog ul li.node-readmore:before{
	display:none;
}

.main .view-id-easy_blog ul li.comment_forbidden:before{
	display:none;
}



//----------------- SITEWIDE --------------------------------------------------------------------


.main img{
	padding:5px;
	border:1px solid lightgray;
	margin-bottom:10px;
}

.siderbar-ds img{
	margin:0 auto;
	padding:0;
	border:0;
}

#node-179 img{
	border:0;
}

.main ol,  .main ul{
    margin-bottom:1.5rem;
    margin-left:2rem;
}


.main ul >{
    padding: 0 1em;
    list-style-type: none;
}

.main ul li:before { 
    content: "";
    border-color: transparent #175c92 !important;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 18px;
    position: relative;
}

.main .forum-post-links ul li:before {
	display:none;
}

ul.button-group li:before{
	border:none !important;
}

.page-search404 .main ul li:before{
	display:none;
}

.contextual-links-region ul li:before{
	display: none;
}



//----------------- HEADER--------------------------------------------------------------------


//SIGN IN

.sign-in-wrapper {
	background:$darkBlue;
	margin-bottom:1.6rem; //10px

	@include desktop{
		background:transparent;
		margin-bottom:0;
	}
}

.sign-in-button {
	float:right; 
	width: 6.9375rem; //111px 
	height: 2rem; //32px
	background:image-url('sign-in.png');
}

//LOGO 

.logo{
	border:none;
}

.l-header .logo {
	display: block; 
	margin: 0 auto;

	@include desktop{
		margin:0 0;
		margin-bottom:1rem;
	}
}


//----------MENU MOBILE----------

//BUTTON

.tb-megamenu .btn-navbar {
	background-image:image-url("mobile-icon.svg");
	background-repeat:no-repeat;
	background-position: top center;
	background-color:transparent;
	max-width: 2rem; //32px
	border:none;
	top:0.875rem; //14px
	opacity:1;
	@include transition(opacity, .5s);

	&:hover{
	background-repeat:no-repeat;
	background-position: top center;
	background-color:transparent;
	max-width: 2rem; //32px
	border:none;
	opacity:.5;
	}

	&:focus{
	background-repeat:no-repeat;
	background-position: top center;
	background-color:transparent;
	max-width: 2rem; //32px
	border:none;
	}

	&:active{
	background-repeat:no-repeat;
	background-position: top center;
	background-color:transparent;
	background-image:image-url("mobile-icon.svg");
	max-width: 2rem; //32px
	box-shadow: none;
	border:none;
	}
}

.tb-megamenu .fa-reorder{
	padding:10px; 
	font-size: 0;
}

.tb-megamenu .btn{
	float:right;
}

.tb-megamenu .btn:focus{
	outline: none !important;
}

.tb-megamenu .span12.mega-col-nav .mega-inner{
	background-color:$blue;
}

.tb-megamenu .nav-collapse.collapse .nav{
	border:2px solid white;
}


.tb-megamenu .nav-collapse.collapse .nav > li > a{
	background:#175c92 !important;
	color:#ffffff !important;
	border-bottom:1px solid #1c73b5;
	border-top:0;

	&:hover{
		color:#ffe270 !important;
	}
}

section.block.block-block.block-block-36{
	text-align: center;
	padding:1.25rem; //20px
}



// DESKTOP MENU
.tb-megamenu{
	background:none;

	& img{
		border:1px solid $white;
	}
}

.tb-megamenu .nav{
	float:right;
}

.tb-megamenu .nav li a{
	color:$blue;
	font-family:$ff-headline;
	font-size:1rem; 
	border:none;
	padding:0.625rem; //10px
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover{
	color:$orange;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle{
	color:$orange;
}

.tb-megamenu .nav li.dropdown.open > .dropdown-toggle{
	color:$orange;
}

.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover{
	color:$orange;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover{
	background-color: transparent;
	color:$orange;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active{
	background-color: transparent;
	color:$orange;
}

.tb-megamenu .nav li.dropdown > .dropdown-toggle .caret{
	display:none;
}


.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus{
	background:transparent;
	color:$orange;
}

.tb-megamenu .nav > .active > a:hover{
	color:#f78600 !important;
}


//OPEN DROPMENU

.tb-megamenu .dropdown-menu .active > a, .tb-megamenu .dropdown-menu .active > a:hover {
	background-image: none;
	background-color:$blue;
}

.tb-megamenu .dropdown-menu{
	padding:0.625rem; //10px
	margin-top:0.3125rem; //5px
	border-bottom: 3px solid $white;
	background-color:$blue;
}


.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li{
	padding:.25rem 0; //4px
	border-top: 1px solid rgba(255, 255, 255, .25);

	&:first-child{
		border-top:none;
	}

	&:last-child{
		border-bottom:none;
	}
}

.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a{
	color:$white;
}

.tb-megamenu .dropdown-menu li > a:hover, .tb-megamenu .dropdown-menu li > a:focus, .tb-megamenu .dropdown-submenu:hover > a{
	
	.no-touch &:hover{
		@include transition(color .3s);
		color:$yellow;
	}
}

.tb-megamenu [class*="column"] + [class*="column"]:last-child{
	border-left: 1px solid rgba(255, 255, 255, .25);
	padding-left: 0.625rem; //10px
}


.register-button{
	margin:0 auto;
	margin-bottom:1.25rem; //20px
	display: block;
	background-image: image-url("register-sprite.png");
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	width: 140px; //140px
	height: 35px; //35px

	.no-touch &:hover{
	background-position: top -35px left 0; //-35px
	}
}





//----------------- HOMEPAGE --------------------------------------------------------------------

//-----------FEATURE----------

#feature {
	padding: 1.875rem 0; //30px
	background-image:image-url("metal-plate.jpg");
	background-repeat:repeat;
}

#feature h4 {
	text-align: center;
	line-height: 2;
	margin:0;
	color:$white;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);

	@include desktop{
		text-align: left;
	}
}


//-----------FEATURE VIDEO----------

.feature-video-wrapper{
	position: relative;
	text-align: center;

	@include tablet{
	margin-bottom:50px;
	}
}

.feature-video-skin{
	display: none;
	
	@include tablet{
	display: block;
	width: 38.75rem; //620px
	height:23.75rem; //380px
    position:absolute;
    top: 0;
    left: 50%;
    margin-left: -19.375rem; //-310px 

	background-image: image-url("feature-video-skin.png");
	background-repeat: no-repeat;
	}

}

.owl-item img{
	border:0;
}

.front .owl-carousel{
	max-width:588px;
	margin:0 auto;
	padding-top:5px;
}

.front .owl-prev{
	position:absolute;
	left:35px;
	bottom:35%;
}

.front .owl-next{
	position:absolute;
	right:35px;
	bottom:35%;
}


.owl-theme .owl-controls .owl-buttons div{
	margin:0;
	padding:0;
	font-size: 80px;
	background:transparent;
	opacity:0 !important;
	@include transition(opacity, .25s);

	&:hover{
		opacity:1 !important;
	}
}

.owl-carousel .owl-wrapper-outer{
	border:2px inset $white;

	@include tablet{
	border-radius:5px;
	}
}

.front .feature-sidebar {
	margin:0 auto;
	margin-top:1.25rem; //20px

	@include tablet{
	margin-top:2.5rem; //40px
	}
}

.feature-buttons{
	margin:0 auto;
	max-width: 37.5rem; //600px
}

.feature-join-button{
	font-size: 0;
	margin:0 auto;
	margin-bottom:1.25rem; //20px
	display: block;
	background-image: image-url("feature-join-sprite.png");
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	width: 18.125rem; //290px
	height: 3.125rem; //50px

	.no-touch &:hover{
	background-position: top -3.125rem left 0; //-50px
	}

	@include desktop{
	float:none;
	margin:0 auto 1.25rem auto;
	}
}

.feature-store-button{
	margin:0 auto;
	margin-bottom:1.25rem; //20px
	display: block;
	background-image: image-url("feature-store-sprite.png");
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	width: 18.125rem; //290px
	height: 3.125rem; //50px

	.no-touch &:hover{
	background-position: top -3.125rem left 0; //-50px
	}

	@include tablet{
	float:left;
	}

	@include desktop{
	float:none;
	}
}


//-----------FEATURE TESTIMONIAL----------


.feature-testimonials{
	clear:both;
	margin:0 auto;
	max-width: 37.5rem; //600px

	@include desktop{
	max-width: 18.125rem; //290px
	}
}

.feature-testimonials p{
	margin:0;
	background:$blue;
	padding:1rem;
	color:$white;
	font-size: .9rem;
	font-family: $ff-body-italic;
}

.feature-testimonials .testimonial-author-container{
	background:#303030;
	background-image: image-url("testimonial-box-arrow.png");
	background-repeat: no-repeat;
	background-position: top center;
	float:right;
	text-align: right;
	padding:1.25rem 0.625rem; //20px 10px
	color:$white;
	font-size: 0.75rem; //12px
}

.feature-testimonials .view-testimonials .views-field-field-testimonial-author{
	padding:0;
	background:transparent;
}

.feature-testimonials .view-testimonials .views-field-field-testimonial-content{
	padding:0;
}

.feature-testimonials .view-testimonials{
	padding:0;
	margin:0;
}


.siderbar-ds .field-name-testimonial{
	background: $blue;
    color: white;
    width: 290px;
    margin: 0 auto;
    margin-bottom: 20px;
}



//-----------QUICKTABS----------


//QUICKTABS

#quicktabs-competitions .competition-logo {float:left; width:20%;}
#quicktabs-competitions .views-field-field-overview {float:right; width:75%;}
#quicktabs-programs .program-logo {float:left; width:20%;}
#quicktabs-programs .views-field-field-programs-overview {float:right; width:75%;}

.quicktabs_main{
	clear:both;

	@include tablet{
	padding-top:5rem; //40px	
	}

	@include desktop{
	padding-top:2.5rem; //40px	
	}
}

.quicktabs-tabs li{
	left:0;
}

.item-list ul {
	margin:0;
	padding:0;
}

.item-list ul li{
	margin:0;
	margin-right:2rem; //32px
	&:last-child{
		margin-right:0;
	}
}

//QUICKTABS CONTROLS

.bx-controls-direction{
	margin-bottom:1rem;
}

a.bx-next, a.bx-prev{
	background:#1c73b5;
	display:inline-block;
	margin:10px;
	padding:10px 20px;
	line-height: 1rem !important;
	border-radius:5px;
}


//COMPETITIONS


#quicktabs-competitions, #quicktabs-programs{

	&  .field-content.competition-logo{
		margin-bottom:1.5rem;
		width:100%;
	}

	& .views-field.views-field-field-competition-logo{
		text-align: center;
		width:100%;

		@include tablet{
		width:20%;
		}
	}

	& .views-field.views-field-field-overview{
		width:100%;

		@include tablet{
		width:75%;
		}
	}

	& h3{
		text-align: center;
		@include tablet(){
			text-align: left;
		}
	}
}


.main .nivoSlider img{
	border:0;
	margin:0;
	padding:0;
}

.theme-default .nivoSlider{
	box-shadow: none;
	border: 2px solid #175c92;
	margin-bottom:40px;
}
.competition-logo a img{
	border:none;
}

#homepage-competitions{
	padding-bottom:1.25rem; //20px
	clear:both;

	background-image:image-url("competitions-nav-bg.jpg"),image-url("competitions-header.jpg"),image-url("metal-brushed.jpg");
	background-repeat: repeat-x,repeat-x,repeat;
	background-position: top 2.375rem left 0, top 0 left 0, top 0 left 0; //38px

	@include tablet{
	padding-bottom:2.5rem; //40px	
	background-image:image-url("competitions-header.jpg"),image-url("metal-brushed.jpg");
	background-repeat:repeat-x,repeat;
	background-position: top 0 left 0;
	}	

	@include desktop{
	background-image:image-url("competitions-header-desktop.jpg"),image-url("metal-brushed.jpg");
	background-repeat: repeat-x,repeat;
	background-position: top 0 left 0;
	}
}

#homepage-competitions h2{
	color:$white;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
	text-align: center;
	line-height: 39px;
	margin:0;

	@include desktop{
	text-align: left;
	line-height: 3.75rem; //60px	
	float:left;
	}

}

#homepage-competitions h4{
	color: #0b5388;
}


#homepage-competitions .item-list{
	text-align: center;
	margin: 0 auto;

	@include tablet{
	background-image: image-url("competitions-nav-bg-tablet.jpg");
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	height: 2.625rem; //42px
	width: 47.25rem; //756px
	}

	@include desktop{
	height:3.75rem; //60px	
	background-image: image-url("competitions-nav-bg-desktop.jpg");
	background-repeat: no-repeat;	
	float:right;
	}
}

#homepage-competitions .item-list a{
	color:$white;
	font-size: 1rem;
	font-family: $ff-headline;
	
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
	line-height: 2.75rem; //44px

	.no-touch &:hover{
		@include transition(color .5s);
		color:$yellow;
	}

	@include desktop{
	line-height: 5rem; //80px
	}
}


//COMPETITION BUTTONS 

.program-logo a img{
	border:none;
}

.competition-button{
	margin:1rem auto;
	display: block;
	width: 10rem; //160px
	height: 2.5rem; //40px
	background-repeat: no-repeat;
	background-position: 0 0;

	@include tablet{
	float:right;
	margin:1rem 0;
	}

	.no-touch &:hover{
		background-position: 0 -2.5rem; //-40px;
	}

    #quicktabs-tabpage-competitions-3 &{ background-image:image-url("competitions-roboboat-sprite.png");}
 	#quicktabs-tabpage-competitions-4 &{ background-image:image-url("competitions-robosub-sprite.png");}
    #quicktabs-tabpage-competitions-6 &{ background-image:image-url("competitions-robotx-sprite.png");}
    #quicktabs-tabpage-competitions-0 &{ background-image:image-url("competitions-seaperch-sprite.png");}
    #quicktabs-tabpage-competitions-1 &{ background-image:image-url("competitions-igvc-sprite.png");}
    #quicktabs-tabpage-competitions-2 &{ background-image:image-url("competitions-suas-sprite.png");}
    #quicktabs-tabpage-competitions-5 &{ background-image:image-url("competitions-iarc-sprite.png");}
}


//PROGRAMS


#quicktabs-programs{

	&  .field-content.program-logo{
		margin-bottom:1.5rem;
		width:100%;
	}

	& .views-field.views-field-field-logo{
		text-align: center;
		width:100%;

		@include tablet{
		width:20%;
		}
	}

	& .views-field.views-field-field-programs-overview{
		width:100%;

		@include tablet{
		width:75%;
		}
	}
}


#homepage-programs{
	padding-bottom:1.25rem; //20px
	clear:both;

	background-image:image-url("competitions-nav-bg.jpg"),image-url("programs-header.jpg"),image-url("metal-brushed.jpg");
	background-repeat: repeat-x,repeat-x,repeat;
	background-position: top 2.375rem left 0, top 0 left 0, top 0 left 0; //38px

	@include tablet{
	padding-bottom:2.5rem; //40px	
	background-image:image-url("programs-header.jpg"),image-url("metal-brushed.jpg");
	background-repeat:repeat-x,repeat;
	background-position: top 0 left 0;
	}

	@include desktop{
	background-image:image-url("programs-header-desktop.jpg"),image-url("metal-brushed.jpg");
	background-repeat: repeat-x,repeat;
	background-position: top 0 left 0;
	}
}


#homepage-programs h2{
	color:$white;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
	text-align: center;
	line-height: 39px;
	margin:0;

	@include desktop{
	text-align: left;
	line-height: 3.75rem; //60px	
	float:left;
	}
}

#homepage-programs h4{
	color: #0b5388;
}


#homepage-programs .item-list{
	text-align: center;
	margin: 0 auto;

	@include tablet{
	background-image: image-url("programs-nav-bg.jpg");
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	height: 2.625rem; //42px
	width: 47.25rem; //756px
	}

	@include desktop{
	height:3.75rem; //60px	
	background-image: image-url("programs-nav-bg-desktop.jpg");
	background-repeat: no-repeat;	
	float:right;
	}
}


#homepage-programs .item-list a{
	color:$white;
	font-size: 1rem;
	font-family: $ff-headline;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
	line-height: 2.75rem; //44px

	.no-touch &:hover, .no-touch &:active{
		@include transition(color .5s);
		color:$yellow;
	}

	@include desktop{
	line-height: 5rem; //80px
	}
}


.item-list li.active a{
	color:$yellow !important;
}


//PROGRAM BUTTONS 

.program-button{
	margin:1rem auto;
	display: block;
	width: 10rem; //160px
	height: 2.5rem; //40px
	background-repeat: no-repeat;
	background-position: 0 0;
	
	@include tablet{
	float:right;
	margin:1rem 0;
	}

	.no-touch &:hover{
		background-position: 0 -2.5rem; //-40px
	}

    #quicktabs-tabpage-programs-1 &{ background-image:image-url("programs-seaperch-sprite.png");}
 	#quicktabs-tabpage-programs-2 &{ background-image:image-url("programs-seaglide-sprite.png");}
}



 #quicktabs-tabpage-programs-3 .program-button{ 
    background-image:image-url("programs-robotour-sprite.png");
    display: block;
	width: 10rem; //160px
	height: 2.5rem; //40px
	background-repeat: no-repeat;
	background-position: 0 0;

	.no-touch &:hover{
		background-position: 0 -2.5rem; //-40px
	}
}


#quicktabs-tabpage-programs-0 .program-button{
	display: block;
	width: 15.625rem; //250px
	height: 2.5rem; //40px
	background-image:image-url("programs-stem-sprite.png");
	background-repeat: no-repeat;
	background-position: 0 0;

	.no-touch &:hover{
		background-position: 0 -2.5rem; //-40px
	}
}


//GET INVOLVED

#homepage-get-involved{
	padding: 1.25rem 0; //20px
	background:$blue;
	color:$white;
}

#homepage-get-involved a{
	color:$yellow;
}

#homepage-get-involved h2 a{
	display:block;
	border-bottom:1px solid #ffffff;
	margin-bottom:1.5rem;
	color:$yellow;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
	text-align: center;
	line-height: 2rem; //32px	

	@include tablet{
	text-align: left;
	}

	@include desktop{
	line-height: 3.75rem; //60px	
	}

}

#homepage-get-involved h2.block-title{
	padding:0;
	border:0;
}

#homepage-get-involved h4{
	color:$white;
}

a.get-involved-button{
	margin:0 auto;
	margin-bottom: 2.5rem; //40px
	display:block;
	background-image: image-url("get-involved-sprite.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 10rem; //160px
	height: 2.5rem; //40px

	.no-touch &:hover{
	background-position: 0 -40px;
	}
}

a.whats-happening-button{
	margin:0 auto;
	margin-bottom: 2.5rem; //40px
	display:block;
	font-size: 0;
	background-image: image-url("whats-happening-sprite.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 190px; //160px
	height: 2.5rem; //40px

	.no-touch &:hover{
	background-position: 0 -40px;
	}
}

.club-button{
	margin:0 auto;
	margin-bottom:1.25rem; //20px
	display: block;
	background-image: image-url("get-involved-club-sprite.png");
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	width: 18.125rem; //290px
	height: 3.125rem; //50px

	.no-touch &:hover{
	background-position: top -3.125rem left 0; //-50px
	}
}






//----------------- INTERIOR ---------------------------------------------------------------------

//TABS 
/*
div.horizontal-tabs{
	border:none;
	
	& h2{
		color:$darkBlue;
	}

	& .field-label{
		color:$darkBlue;
	}	
}

.horizontal-tabs ul.horizontal-tabs-list{
	background:transparent;
	border-right:none;
	border-bottom:2px solid $darkBlue;
}

.horizontal-tabs ul.horizontal-tabs-list li{
	border:none;
	border-bottom:1px solid lightgray;
	padding:0;
	display:block;
	float:none;

	&:last-child{
		border:none;
	}
}

.horizontal-tabs ul.horizontal-tabs-list li a{
	color:#1c73b5;	

	&:hover strong{
		color:$white;
	}
}

.horizontal-tabs ul.horizontal-tabs-list li.selected{
	background-color:$darkBlue;
}

.horizontal-tabs ul.horizontal-tabs-list li a:hover{
	background-color:$blue;
}

.horizontal-tabs ul.horizontal-tabs-list .selected strong{
	color:$white;
}
*/





.horizontal-tabs{
	background:transparent;
	border:none !important;

	& h2{
		color:#1c73b5 !important;
	}

	& .field-label{
		color:#1c73b5 !important;
	}
}

.horizontal-tabs ul.horizontal-tabs-list{
	background:transparent;
	border-right:none;
	border-bottom:2px solid $darkBlue;
}

.horizontal-tabs ul.horizontal-tabs-list li{
	float:none;
	display:block;
	padding:0;
	border:none;
	border-bottom:1px solid lightgray;

	&:before{
		display:none;
	}

	@include tablet(){
		float:left;
		display:inline;
		border:none;
		border-right:1px solid lightgray;
	}

	&:last-child{
		border:none;
	}
}














.horizontal-tabs ul.horizontal-tabs-list li a{
	color:#1c73b5;	
}

//HOVER
.horizontal-tabs ul.horizontal-tabs-list li a:hover{
	background-color: darken(#1c73b5, 20%) !important;
	color:$white;	
}

//ACTIVE
.horizontal-tabs ul.horizontal-tabs-list li.selected{
	color:#ffffff;
	background-color:#1c73b5;
	padding:0;
}

.horizontal-tabs ul.horizontal-tabs-list .selected strong{
	color:#ffffff;
}



//SUBNAVIGATION MENU

.block-menu-block-3{
	display: none;
	margin: 0 0.625rem 1.25rem 0.625rem; //10px 16px
	background:#777777;
	border-bottom:1px solid #313131;
	@include desktop{
		display: block;
	}
}

h2.block-title{
	margin:0;
	padding:0.625rem 2rem; //10px
	font-family:$ff-headline;
	font-size:1.125rem; //18px
	text-transform:uppercase; 
	background:$blue;
	color:$white;
	border-bottom:1px solid #09263c;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
}

.block-menu-block-3 ul{
	list-style:none;
	margin:0;
	padding:0 1rem;
}

.block-menu-block-3 li{
	margin:0;
	padding:0.625rem 1rem; //10px
	border-bottom:1px solid #616161;
	border-top:1px solid #999999;
	&:first-child{
		border-top:none;
	}
	&:last-child{
		border-bottom:none;
	}
}

.block-menu-block-3 li a{
	font-family:$ff-body;
	font-size:0.875rem; //14px 
	color:$white;
	.no-touch &:hover{
		@include transition(color, .3s);
		color:$yellow;
	}
}

.block-menu-block-3 li.active a{
	color:$yellow;
}

.block-menu-block-3 li.expanded{
	padding: 0.625rem 1rem 0 1rem;
	border-bottom:0;
	& + li{
		border-top:0;
	}
}

.block-menu-block-3 ul ul{
	background:#3c3c3c;
	margin:0 -2rem;
	padding:0.625rem 0 0.625rem 3rem; //10px
	border-bottom:1px solid #ababab;
	border-top:1px solid #313131;
}

.block-menu-block-3 li li{
	margin:0;
	padding:0;
	border:none;
}

.block-menu-block-3 li li a{
	color:$yellow;
    @include text-shadow(rgba(black, 0.2) 1px 1px 0);
	.no-touch &:hover{
		@include transition(color, .3s);
		color:$white;
	}
}

//VIDEO

.block-block-8{
	display: none;
	margin: 0 0.625rem 1.25rem 0.625rem; //10px 16px
	background: #175c92;
	border-bottom:1px solid #191919;
	@include desktop{
		display: block;
	}
}

.block-block-8 h2{
	margin:0;
	padding:0.625rem 2rem; //10px
	margin-bottom:0.625rem; //10px
	font-family:$ff-headline;
	font-size:1.125rem; //18px
	text-transform:uppercase; 
	background: #3c3c3c;
	color:$white;
	border-bottom:1px solid #09263c;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
}

.more-videos-button{
	margin:0 auto;
	margin-bottom:0.625rem; //10px
	width: 16.875rem; //270px
	height:3.25rem; //52px
	background-image:image-url("sidebar-more-videos-sprite.png");
	background-position: 0 0;
	.no-touch &:hover{
	background-position: 0 52px;
	}
}

.sidebar-video{
	margin:0 auto;
	max-width: 16.875rem; //270px
	margin-bottom:0.625rem; //10px
	text-align: center;
	background-color:$black;

	& img{
		opacity:1;
		.no-touch &:hover{
		  @include transition(opacity .5s);
		  opacity:.5;
		}
	}
}

.sidebar-store-button{
	margin:0 auto;
	margin-top:0.625rem; //10px
	width:18.125rem; //290px
	height:3.125rem; //50px
	background-image:image-url("sidebar-store-sprite.png");
	background-position: 0 0;
	.no-touch &:hover{
	background-position: 0 3.125rem; //50px
	}
	@include desktop{
	margin:0 auto;
	}
}


//MAIN CONTENT

[role="main"]{
	padding:2.5rem 0; //40px
}

.page-node-5 [role="main"]{
	padding:0;
}

.breadcrumbs {display:none;}

.page-title{
	padding:0.625rem 0; //10px
	background-image:image-url("metal-plate.jpg");
	background-repeat:repeat;
}

h1.title{
	color:white;
	margin-bottom:0;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
}

//SPONSORS


//SPONSOR CONTENT 

.view-id-sponsor_views.view-display-id-block_4 .views-row{
	text-align: center;
	margin-bottom:40px;
	padding:0 10%;

	@include tablet(){
	width:50%;
	float:left;
	padding:0 10%;
	}
}

#node-13 h2{
	margin-bottom:2rem;
}

.field-name-field-host-logo img{
	border:none !important;
	padding:0 !important;
}


.competition-footer-sponsors .view-sponsor-views .views-row{
	margin:2% 0;
	width:100%;
	text-align: center;

	@include tablet{
	width:20%;
	float:left;
	margin:2%;
	}

	& img{
		border:none;
		padding:0;
	}
}


.main h2.block-title{
	padding:0;
	padding-bottom: 0.625rem;
	background:transparent;
	color:$darkBlue;
	text-shadow:none;
	margin-bottom:2rem;
	border-bottom:4px solid $darkBlue;
}


.logo-spotlight{
	margin-right:10px;
	float: left;

	& img{
		border:none;
	}
}

p.spotlight-sponsor {

	@include tablet(){
    padding: 20px 20%;
	}

}


.view.view-sponsor-views.view-id-sponsor_views.view-display-id-attachment_1 .view-header{
	font-family:$ff-body-bold; 
	font-size: 1rem;
	text-transform: uppercase;
	border-bottom:1px solid lightgray;
	padding-bottom:1rem;
}

.view.view-sponsor-views.view-id-sponsor_views.view-display-id-attachment_1 .views-row{
	width:40%;
	margin:20px auto;
	text-align: center;
	
	& img{
		border:none;
		padding:0;
	}

	@include tablet{
		float:left;
		width:28%;
		margin: 10px 2%;
	}

	&:nth-of-type(3n + 4){
		clear:both;
		content:'';
		display: table;
	}
}

.view.view-sponsor-views.view-id-sponsor_views.view-display-id-attachment_2 .view-header{
	display:none;
}



.view.view-sponsor-views.view-id-sponsor_views.view-display-id-attachment_2 .views-row{
	text-align: center;
	margin:0 auto;
	margin-bottom: 40px;
	padding: 0 30%;
	
	& img{
		border:none;
		padding:0;
	}

	@include tablet{
		height:180px;
		display:inline;
		float:left;
		width:28%;
		margin: 10px 2%;
	    padding: 5%;
	}

	&:nth-of-type(3n + 4){
		clear:both;
		content:'';
		display: table;
	}
}


.sponsors{
	border-top:2px solid $blue;
	border-bottom:2px solid lighten($black, 20%);
	text-align: center;
	padding:2.5rem 0 3.75rem 0; //40px 60px
	background-image:image-url("sponsors-screw.png"), image-url("metal-brushed.jpg");
	background-repeat: repeat-x, repeat;
	background-position: bottom 1rem left 50%, top 0 left 50%;
}

.sponsors h2{
	color:$blue;
}

.sponsors-become-button{
	clear:both;
	display: block;
	margin:0 auto;
	width: 12.1875rem; //195px
	height:2.5rem; //40px
	background-image:image-url("sponsors-sprite.png");
	background-position: 0 0;
	.no-touch &:hover{
	background-position: 0 2.5rem; //40px
	}
	@include tablet{
	}
}

.sponsor-logos{
	margin-bottom:2rem;
	padding:0;
	& img{
		border:none;
	}
}

.view-id-sponsor_views.view-display-id-block_3 .view-content .views-row{
	display: inline-block !important;
	padding: 2rem 1rem;

	@include tablet(){
		display:inline;
	}
}


//FORUM


.forum-post-panel-sub .author-pane {
	padding-left: 0 !important;
	font-weight: bold;	
	padding-top: 0;
}

.forum-post-panel-main .forum-post-content, .forum-posted-on, .forum-post-title {
	padding-left: 0 !important;
}

.posted-by {
	font-size: .8em;
}

.forum-posted-on {
	padding: 5px 0 10px 0;	
}

.back-forum-button {
	margin-bottom: 10px;	
}

#forum-statistics {
	display: none;	
}

th.forum-last-post {
	width: 30%	
}

TABLE {
	border: none;	
}

.forum-table tr.even {
  background: #efefef;
}

.forum-name {
	font-weight: bold;	
}

.forum-list-text-legend-new-posts, .forum-list-text-legend-default {
	font-size: .8rem;
}

#forum-sort {
	display: none;	
}

.forum-node-create-links {
	width: 100% !important;
	padding-bottom: 10px;
	font-size: .8rem;
}

.forum-tools {
	display: none;
}

.forum-topic-legend div {
	font-size: .8rem;	
	padding-left: 30px;
}

.forum-table TH A {
	color: white;
	font-weight: bold;		
}

.forum-table IMG {
	border: none;	
	margin: 0 0 0 3px;
}

td.active {
	background-color: #efefef;
}

#forum-comments H2 {
	color: #222;
	font-family: "primeregular", Helvetica, Sans-serif;
	font-size: 1.3125rem;		
}

.topic-reply-link LI, .forum-post-links LI, .forum-jump-links LI {
	font-size: .8rem;	
}

.topic-reply-link, .forum-post-links, .forum-jump-links, .topic-post-count, .forum-post-number {
	font-size: .8rem;	
}

.forum-jump-links {
	margin: 0;	
}

.forum-list-icon-new-posts, .forum-list-text-legend-new-posts {
	margin-left: 8px;	
}

UL.button-group {
	margin: 0;	
}

#user-profile-form button {
	background-color:#175c92;
	color: white;
}

#user-profile-form button:hover {
    background: #1c73b5;
}

.blog-latest-block A, .forum-latest-title {
	text-transform:uppercase;
	font-size: 1.1rem;
	font-weight:bold !important;
}

.blog-latest-block P, .forum-latest-block-date, .forum-latest-posted-by {
	font-size: .8rem;
}


.forum-latest-body {
	margin-bottom: 25px;	
}

.block-views-recent-forum-posts-block-1 div {
	line-height: 1;	
	margin-bottom: 7px;
}

.student-eligibility-label {
	margin-bottom: 0;
	font-weight:bold;
}






.forum-table-wrap .forum-table-superheader, .forum-table-topics thead tr, #forum-statistics-header{
	background:$blue;
}

.forum-table-superheader .forum-table-name, #forum-statistics-header{
	color:#ffffff !important;
	font-family:$ff-headline;
	text-transform:uppercase;
}

.forum-table-wrap thead tr{
	background:#777777;
}

.forum-table-wrap thead tr th{
	color:#ffffff !important;
}

.forum-table tr.even{
	background:#F5F5F5;
}

.forum-table tr.odd{
	background:#ffffff;
}

.forum-list-icon-wrapper{
	background:#1c73b5;

}

.forum-statistics-sub-header{
	background:#777777;
	color:#ffffff;
}

.forum-tools{
	margin-top:0;
}


//WHATS HAPPENING FORM 

.form-item.form-type-textfield.form-item-field-geofield-distance-distance{
	width:100%;

	@include tablet{
		width:33.3333%;
	}
}

.form-item.form-type-select.form-item-field-geofield-distance-unit{
	padding-top:0;
	width:100%;

	@include tablet{
		width:20%;
	}
}

.form-item.form-type-textfield.form-item-field-geofield-distance-origin{
	width:100%;

	@include tablet{
		width:33.3333%;
	}
}

.views-exposed-form .views-exposed-widget .form-submit{
	margin-top:0;
	margin-bottom:20px;
}




.view-event-search .view-content{
	margin-top:20px;
}

.view-event-search .views-row{
	padding:10px;
	border-top:1px solid #ccc;
}

.view-event-search .views-row-odd{
	background:#F5F5F5 !important;
}


//TV

.tv-feature{
	padding-bottom:20px;
	@include tablet{ 
	background-image:image-url('feature-video-skin.png');
	background-repeat: no-repeat;
	background-position:50% 0;
	}
}

.fluid-width-video-wrapper{
	top:7px !important;
	left:0 !important;
	right:0 !important;
	margin:0 auto;
	max-width:588px !important;
	max-height:326px !important;
	padding-top:326px !important;
	margin-bottom:60px;
}

.tv-sidebar-label{
	background: #1c73b5;
	color:#ffffff;
	padding:16px;
	font-family: "primeregular", Helvetica, Sans-serif;
	text-transform: uppercase;
	text-shadow:rgba(0, 0, 0, 0.2) 1px 1px 0;
	font-size: 1.125rem;
}

.page-node-5 .feature-sidebar{
	background: #1c73b5;
	color:#ffffff;
	padding:0 16px 16px 16px;
	margin-top:0;
}

.page-node-5 .more-link{
	width:130px;
	height:40px;
	background-image:image-url('more-sprite.png') !important;
	background:no-repeat;
	font-size: 0;

	display: block;
	margin:0 auto;
	margin-top:20px;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}
}

.feature-buttons{
	max-width: inherit;
}

//PAST EPISODES

.view-id-robonation_tv_videos .feature-video-wrapper{
	margin-bottom:20px;
}

.tv-sidebar-title{
	background: #1c73b5;
    color: #ffffff;
    padding: 0 16px 0 16px;
    margin-top: 0;

    & a{
    	font-family: $ff-body-bold;
    	text-transform: uppercase;
    	color:#ffe270;
    	font-size: 24px;
    	line-height: 28px;
    	text-shadow:rgba(0, 0, 0, 0.2) 1px 1px 0;
    }
}

.ui-accordion-content.ui-widget-content{
	//min-height:400px !important;
}

.ui-corner-all, .ui-corner-top{
	border-radius:0 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background:none;
}
.ui-accordion-header{
	border:none;
	background-color:$blue;

	& a .field-content{
		color:$white;
	}

	& span{
		display: none;
	}
}

.ui-accordion-header:hover{
	background-color:$darkBlue;
}

.ui-accordion-content.ui-widget-content{
	border:0;
}

.ui-widget-content a{
	color:$orange;

	&:hover{
		color:$orange;
	}
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited{
	color:$white;
}

.ui-accordion{

	& h3{
	padding:1rem 0;
	}

	& h4{
		color:#ffffff;
		text-transform: initial;
	}
}


.row.past-episode-row{
	max-width: 100%;
	background-image:image-url('metal-brushed.jpg');
}

.tv-past-episodes{
	padding:10px 0.9375rem;
	float:none;
	max-width: 62.5rem;
	margin:0 auto;
}

.tv-past-episodes .views-field-title{
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1.25rem;
    font-size: 14px;
    margin-bottom:6px;
}

.tv-past-episodes .feature-video-skin{
	display:none;
} 

.tv-past-episodes .owl-wrapper-outer{
	border:none;
}

.tv-past-episodes h2{
	color:#008CBA;
}


.tv-past-episodes .owl-theme .owl-controls .owl-buttons div{
	font-size: 1rem;
	background:#1c73b5 !important;
	display:inline-block;
	margin:10px;
	padding:10px;
	line-height:1rem !important;
	border-radius:5px;
	opacity: 1;

	&:hover{
		color:#ffe270;
	}
}


//TV BLOG

.tv-blog-entry{
	color:#ffffff;
	padding:1.25rem 0;
	background:#1c73b5;
	max-width: 100%;

	& h2{
		margin-bottom:1.5rem;
		text-shadow:rgba(0, 0, 0, 0.2) 1px 1px 0;
		color:#ffffff;
		line-height: 3.75rem;
		border-bottom:1px solid #ffffff;
	}

	& p{
		color:#ffffff;
	}

	& a {
	color:#ffe270;

		&:hover{
			color: lighten(#ffe270, 50%);
		}
	}
}

.tv-latest-blogs img{
	float:left;
	display:inline;
	margin:10px 10px 20px 0;
	max-width: 200px;
	border:1px solid #ffffff;
}

.tv-latest-blogs .views-row-even{
	clear:both;
	border-top:1px solid rgba(#ffffff, .25);
}


//GET INVOLVED

.page-node-6 .feature-video{
	margin-bottom:40px;

	@include tablet{
		margin-bottom:60px;
	}
}

.page-node-6 .feature-video-skin{
	display: none;
	
	@include tablet{
	display: block;
	width: 38.75rem; //620px
	height:23.75rem; //380px
    position:absolute;
    top: 0;
    left: 50%;
    margin-left: -19.375rem; //-310px 

	background-image: image-url("feature-video-skin.png");
	background-repeat: no-repeat;
	}

}

.page-node-6 .owl-carousel{
	max-width:588px;
	margin:0 auto;
	padding-top:5px;
}

.page-node-6 .owl-prev{
	position:absolute;
	left:35px;
	bottom:35%;
}

.page-node-6 .owl-next{
	position:absolute;
	right:35px;
	bottom:35%;
}

.tv-sidebar-block{
	max-width: 300px;
	margin:0 auto;
	margin-bottom:20px;
	padding:10px;
	background:#175c92;

	& h2{
		text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
		color:#ffffff;
	}	

	@include tablet{
		margin-right:40px;
		float:left;
		display:inline;
	}
}

.page-node-6 .feature-buttons{
	@include tablet{
		float:left;
		display:inline;
	}
}

.tv-sidebar-block-container{
	@include tablet{
		max-width:70%;
		margin:0 auto;
	}
}


.page-whats-happening-near-you button#edit-submit-event-search{
	width:140px;
	height:40px;
	background-image:image-url('search-sprite.png') !important;
	background:no-repeat;
	font-size: 0;
	display: inline-block;
	margin-bottom:20px;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}
}

//CALENDAR OF EVENTS

.page-event-list .views-row {
	min-height: 100px;
	padding:10px;
}


.page-event-list .view-id-robonation_event_calendar .views-row-even {
	background-color: lighten(lightgray, 10%);
	border-top:1px solid #C1C1C1;
}

.event-date-wrapper{
	border-radius: 5px;
	border:1px solid lightgray;
	font-family: $ff-body-bold;
	text-transform: uppercase;
	text-align: center;
	float:left;
	clear:both;
	margin-right:40px;
}

.event-date-wrapper .event-month span.date-display-single{
	border-radius: 5px 5px 0  0;
	display: block;
	color:$white;
	background:#f6931c;
	padding:2px 10px;
}

.event-date-wrapper .event-day span.date-display-single{
	border-radius: 0 0 5px 5px;
	display: block;
	font-size: 24px;
	padding:4px 20px;
	background:$white;
}

.latest-events-button{
	width:160px;
	height:40px;
	background-image:image-url('more-events-sprite.png') !important;
	background:no-repeat;
	font-size: 0;

	display: block;
	margin:0 auto;
	margin-top:20px;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}

	&:after{
		clear:both;
	}

	@include tablet{
		margin:inherit;
		float:right;
	}
}


//EVENTS

.node-robonation-event{
	& img{
		border:none;
	}

	& .field{
		margin-bottom:20px;
	}

	& .field-name-field-venue{
		line-height: 2rem; 
		color:#0078a0; 
		font-family: $ff-headline; 
		text-transform: uppercase; 
		font-size: 1.5rem;
	}

	& .field-label{
		margin-bottom:10px;
		text-transform: uppercase;
		font-size: 1.125rem;
	}
}


//FORUM

.forum-row{
	background-image:image-url('forum-label-bg.jpg');
	background-repeat:repeat-x;
	background-position: 0 0;
	background-color: lighten(lightgray, 10%);
	max-width:100%;

	& h2{
		margin-bottom:1.5rem;
		text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
		color:#ffffff;
		line-height: 3.75rem;
	}
}

.forum-row .large-4{
	padding:10px 0;
	border-bottom:1px solid lightgray;

	@include desktop{
		padding:0 10px;
		border-bottom:none;
		border-right:1px solid lightgray;
	}
}

.forum-row .views-row-3 .large-4{
	border:none;
}


.forum-col{
	padding-bottom:20px;
	margin:0 auto;
	float:none;
	max-width:62.5rem;
}

.forum-col .button{
	display: none;
	width:140px;
	height:40px;
	background-image:image-url('forum-sprite.png') !important;
	background:no-repeat;
	font-size: 0;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}

	&:after{
		clear:both;
	}

	@include desktop{
		display: block;
		margin-bottom:20px;
	}
}

.field-name-field-forum-link a{
	display: none;
	width:290px;
	height:50px;
	background-image:image-url('forum-sprite-wide.png') !important;
	background:no-repeat;
	font-size: 0;
	border-radius:5px;
	margin:0 auto;

	&:hover{
		background-position:0 -50px;
	}

	&:after{
		clear:both;
	}

	@include desktop{
		display: block;
		margin-bottom:20px;
	}
}


.main-get-involved{
	background:#1c73b5;
	max-width:100%;

	& h2{
		margin-bottom:1.5rem;
		text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
		color:#ffffff;
		line-height: 3.75rem;
		border-bottom:1px solid #ffffff;
	}

	& h4{
		color:#ffe270;
		line-height: inherit !important;
		text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 0;
		line-height: 3.75rem;
		border:none;
	}
}

.main-get-involved a{
	color:$yellow;
}

.main-get-involved h2 a{
	display:block;
	border-bottom:1px solid #ffffff;
	margin-bottom:1.5rem;
	color:$yellow;
	@include text-shadow(rgba(black, 0.2) 1px 1px 0);
	text-align: center;
	line-height: 2rem; //32px	

	@include tablet{
	text-align: left;
	}

	@include desktop{
	line-height: 3.75rem; //60px	
	}

}

.main-get-involved h2.block-title{
	padding:0;
	border:0;
}

.main-get-involved-col{
	margin:0 auto;
	float:none;
	max-width:62.5rem;
}

.main-get-involved .row:first-of-type .columns:first-of-type .button{
	width:130px;
	height:40px;
	background-image:image-url('more-sprite.png') !important;
	background:no-repeat;
	font-size: 0;

	display: block;
	margin:0 auto;
	margin-top:20px;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}

	&:after{
		clear:both;
	}

	@include tablet{
		margin:inherit;
		float:right;
	}
}

.main-get-involved .row:first-of-type .columns:last-of-type .button{
	width:160px;
	height:40px;
	background-image:image-url('calendar-sprite.png') !important;
	background:no-repeat;
	font-size: 0;

	display: block;
	margin:0 auto;
	margin-top:20px;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}

	&:after{
		clear:both;
	}

	@include tablet{
		margin:inherit;
		float:right;
	}
}


.main-get-involved .row:last-of-type .columns:first-of-type .button{
	width:140px;
	height:40px;
	background-image:image-url('donate-sprite.png') !important;
	background:no-repeat;
	font-size: 0;

	display: block;
	margin:0 auto;
	margin-top:20px;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}

	&:after{
		clear:both;
	}

	@include tablet{
		margin:inherit;
		float:right;
	}
}

.main-get-involved .row:last-of-type .columns:last-of-type .button{
	width:140px;
	height:40px;
	background-image:image-url('jobs-sprite.png') !important;
	background:no-repeat;
	font-size: 0;

	display: block;
	margin:0 auto;
	margin-top:20px;
	border-radius:5px;

	&:hover{
		background-position:0 -40px;
	}

	&:after{
		clear:both;
	}

	@include tablet{
		margin:inherit;
		float:right;
	}
}

article#node-6{
	color:#ffffff;

	& p{
		color:#ffffff;
	}

	& h2{
		@include text-shadow(rgba(black, 0.2) 1px 1px 0);
		color:#ffffff;
	}
}


//CAREERS

.page-node-35 h3{
	line-height: 2rem !important;
	margin-bottom:2rem;
	border-bottom:2px solid #1c73b5;
}

.page-node-35 ol li{
	padding:10px;
}

.page-node-35 ol ul li{
	padding:0;
}


.page-node-35 ol li:nth-child(odd) {
	background:#f9f9f9;
}

.page-node-35 ol ul li{
	background:transparent !important;
}



//WHATS HAPPENING EVENT

#node-42 h2{
	color:#1c73b5 !important;
	line-height: 2rem;
}

.whats-happening-event-info{

	& .field-label{
		text-transform: uppercase;
	}
}

.node-whats-happening-near-you{

	& .field-name-field-event-logo img{
			border:0;
	}

	& h2{
		margin-bottom:20px;
	}
}


//COMPETITIONS INTERIOR

.slider-wrapper{
	margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.125rem;
}

//VIDEO BLOCK

.block-views-competition-video-block-1{
	display:none;

	@include desktop{
	display:block;
	margin:0 auto;
	max-width: 300px;
	text-align: center;
	background:#175c92;
	padding-bottom:10px;
	margin:0 0.625rem 1.25rem 0.625rem;
	}

	& h2{
		text-align: left;
		background:#3c3c3c;
		color:#ffffff;
		border-bottom:1px solid #09263c;
		text-shadow:rgba(0, 0, 0, 0.2) 1px 1px 0;
		padding:0.625rem 2rem;
		margin:0;
		margin-bottom:0.625rem;
	}

	& .more-link a{
		width:270px;
		height:52px;
		background-image:image-url('more-competition-videos-sprite.png') !important;
		background:no-repeat;
		font-size: 0;

		display: block;
		margin:0 auto;
		margin-top:10px;

		&:hover{
			background-position:0 -52px;
		}
	}
}


.node-type-competitions .field-name-competition-video{
	display:none;

	@include desktop{
	display:block;
	margin:0 auto;
	max-width: 290px;
	text-align: center;
	background:#175c92;
	padding-bottom:10px;
	margin:0 auto;
	}

	& h2{
		text-align: left;
		background:#3c3c3c;
		color:#ffffff;
		border-bottom:1px solid #09263c;
		text-shadow:rgba(0, 0, 0, 0.2) 1px 1px 0;
		padding:1rem;
		margin:0;
		margin-bottom:0.625rem;
		line-height: 1.5rem;
	}

	& .more-link a{
		width:270px;
		height:52px;
		background-image:image-url('more-competition-videos-sprite.png') !important;
		background:no-repeat;
		font-size: 0;

		display: block;
		margin:0 auto;
		margin-top:10px;

		&:hover{
			background-position:0 -52px;
		}
	}

}

//REGISTRATION BLOCK

.node-type-competitions .field-name-field-competition-registration-l a.button{
	display:none;

	@include desktop{
	display:block;
	margin:0 auto;
	margin-bottom:1.25rem; //20px
	background-color:transparent !important;
	font-size: 0;
	background-image: image-url("register-competition.png");
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	width: 18.125rem; //290px
	height: 3.125rem; //50px
	}

	&:hover{
	background-position: top -3.125rem left 0; //-50px
	}
}

//COMPETITIONS TESTIMONIAL BLOCK

aside .view-testimonials{
		display:none;
		
		@include desktop{
		font-size: .9em;
		display:block;
		color:#ffffff;
		margin:0 0.625rem 1.25rem 0.625rem;
		background:#1c73b5;
		}
}

.view-testimonials{

	& .views-field-field-testimonial-content{
		font-family:$ff-body-italic; 
		padding:10px 10px 0 10px;
		color:#ffffff;
	}
}

.view-testimonials{

	& .views-field-field-testimonial-author{
		background:#3c3c3c;
		background-image:url('../images/testimonial-box-arrow.png?1456757217');
		background-repeat:no-repeat;
		background-position:top center;
		padding:20px 10px 10px 10px;
	}
}

//SLIDER

.nivoSlider {
	margin-bottom:40px;

	& .nivo-caption{
	background:#f7941e;
	padding:10px;
	color:#ffffff;
	opacity:1 !important;
	border-right: 2px solid $darkBlue;
	border-bottom: 2px solid $darkBlue;
	border-left: 2px solid $darkBlue;
	}
}


//SPONSORS

.field-name-field-sponsors{
	margin-top:40px;
	padding:20px 0.9375rem;
	text-align: center;
	
	& .field-label{
		color:#1c73b5;
		text-align: left;
	}

	& img{
		border:none;
		margin:0 20px;
	}
}

.views-field-field-sponsors img{
	border:none;
}


//INTERIOR PROGRAMS

//SLIDER

.node-type-programs .nivoSlider {
	margin-bottom:40px;

	& .nivo-caption{
	background:#f7941e;
	padding:10px;
	color:#ffffff;
	opacity:1 !important;
	}
}


//PROGRAMS TESTIMONIAL BLOCK

.node-type-programs .view-id-testimonials{
	display:none;
	
	@include desktop{
	display:block;
	color:#ffffff;
	margin:0 0.625rem 1.25rem 0.625rem;
	background:#1c73b5;
	}
}

.node-type-programs .views-field-field-testimonial-text{
	padding:20px;
}

.node-type-programs .views-field-field-country{
	background:#3c3c3c;
	background-image:url('../images/testimonial-box-arrow.png?1456757217');
	background-repeat:no-repeat;
	background-position:top center;
	padding:20px;
}

//MAIN PROGRAMS CONTENT

.node-type-programs .field-label{
		color:#1c73b5;
		text-align: left;
}

.fieldset-legend{
		color:#1c73b5;
}

html.js fieldset.collapsed .fieldset-legend{
	background:none;
}

.node-type-programs fieldset.form-wrapper{
	border:1px solid #1c73b5;
}


//NEWS TESTIMONIALS

#node-36 p{
	text-transform: uppercase;
	font-size: 14px;
	padding:10px;
	border-bottom:1px solid lightgray;
	margin:0;
	padding:1rem 0;
}

#node-36 h3{
	margin-top:2rem;
}


#node-36 p a{
	font-size: 16px;
	text-transform:none;
	display:block;
}

#node-36 p:last-of-type{
	border:none;
}




#node-38 p{
	border-bottom:1px solid lightgray;
	padding-bottom:20px;

	&:last-of-type{
		border-bottom:0;
	}
}

.page-node-39 .view-testimonials{
	background: transparent;
}

.page-node-39 .view-testimonials .views-row {
	margin-bottom:20px;
}

.page-node-39 .view-testimonials .views-field-field-testimonial-content{
	background:$blue;
	padding:10px;
}

.page-node-39 .view-testimonials .views-field-field-testimonial-author{
	color:$black;
	padding:10px;
	background:lighten(lightgray, 10%);
}


//BLOG

.field.field-name-field-submitted-by{
	padding-bottom:10px;
	border-bottom:4px solid $darkBlue;
	margin-bottom:10px;
	font-size: 18px;
}

.field.field-name-field-submitted-by .field-label{
	color:$darkBlue;
}

.field-type-datetime{
	color:gray;
	font-size: 14px;
	margin-bottom:20px;
}

.field.field-name-field-easy-blog-tags{

	& .field-label{
		float:none !important;
		border-bottom:1px solid $blue;
		padding-bottom:10px;
	}

	& ul{
		margin-left:40px;
	}

}

.field-name-field-easy-blog-tags.field-type-taxonomy-term-reference {

	& h2{
		color:$black;
		text-transform: uppercase;
		font-size: 1.125rem;
		line-height: 1.5rem;
		font-family: $ff-body-bold;
	}
	
	& ul{
	margin:0;
	padding:0;
	}

	& li:before{
		display:none;
	}
}

.page-blog .field-type-datetime{
	border-bottom:2px solid #1c73b5;
	padding-bottom:10px;
	margin-bottom:20px;
}

.page-blog article{
	margin-bottom:40px;

	& img{
		margin:0 auto;
		margin-bottom:20px;

		@include tablet{
		float:left;
		display:inline;
		margin:0 20px 20px 0;
		}
	}

	& ul.links{
		margin:0;
		clear:both;
		list-style: none;

		& li:first-child a{
			font-size:0;
			margin:0 auto;
			margin-bottom: 20px;
			display:block;
			background-image: image-url("read-more-sprite.png");
			background-repeat: no-repeat;
			background-position: 0 0;
			width: 10rem; //160px
			height: 2.5rem; //40px

			@include tablet{
			float:right;
			}

			.no-touch &:hover{
			background-position: 0 -40px;
			}
		}
	}
}

li.comment_forbidden.last:before{
	display: none;
}

li.comment_forbidden.last{
	border-top:1px solid #ccc;
	clear:both;
	padding:0;
	margin:0;
	padding-top:10px;
}


//SIDEBAR 

.block-views-easy-category-block{
	display:none;
	

	@include desktop(){
		margin:0 0.625rem 1.25rem 0.625rem;
		display:block;
	}

	& .view-content{
		color:white;
		background:rgb(119,119,119);
		padding:0.625rem 2rem;
		border-bottom:1px solid black;

		& a{
			font-size: 0.875rem;
			display:inline-block;
			padding:4px 0;
			color:white;

			&:hover{
				color:$yellow;
			}
		}
	}
}



//TAGS 

.page-taxonomy .field.field-name-field-easy-blog-date.field-type-datetime{
	border-bottom:2px solid $darkBlue;
	padding-bottom:10px;
}

.page-taxonomy{

	& ul.links{
		margin:0;
		clear:both;
		list-style: none;

		& li:first-child a{
			text-align:right;
			margin:0 auto;
			margin-bottom: 20px;
			display:block;
			width: 100%;
			height: 2.5rem; //40px

			@include tablet{
			float:right;
			}

			.no-touch &:hover{
			background-position: 0 -40px;
			}
		}

		& li:last-child a{
			display:block;
			clear: both;
			border-top:1px solid lightgray;
			padding-top:10px;
		}
	}
}


//PAGE FOOTER

.group-footer h2.block-title{
	font-size: 1.5em;
	background:transparent;
	border-bottom:2px solid $darkBlue;
	color:$darkBlue;
	text-shadow:none;
	margin-bottom:40px;
}


//FOOTER

.main-footer{
	background-image:image-url("metal-plate.jpg");
	background-repeat:repeat;
}

.main-footer .panel{
	background:none;
	border:none;
}

.footer p{
	margin-bottom:0;
	font-size: 0.6875rem; //11px
	font-family: $ff-body;
	color:$white;
	text-align: center;
}

.block-block-3{
	@include clearfix;
	margin:1rem 0;
	@include tablet{
	width:23.75rem; //380px
	margin:1.875rem auto; //30px
	}
}

.footer-join-button{
	display: block;
	margin:0 auto;
	margin-bottom:0.625rem; //10px
	width: 11.25rem; //180px
	height:2.5rem; //40px
	background-image:image-url("footer-join-sprite.png");
	background-position: 0 0;
	
	.no-touch &:hover{
	background-position: 0 2.5rem; //40px
	}

	@include tablet{
	margin-bottom:0;
	}
}

.footer-store-button{
	display: block;
	margin:0 auto;
	width: 11.25rem; //180px
	height:2.5rem; //40px
	background-image:image-url("footer-store-sprite.png");
	background-position: 0 0;
	
	.no-touch &:hover{
	background-position: 0 2.5rem; //40px
	}

	@include tablet{
	float: left;
	display: inline;
	margin-left:0.625rem; //10px
	}
}

//FOOTER MENU

.footer {
	text-align:center;
}

.footer ul{
	list-style:none;
}

.footer li{
	color:$yellow;
	display:inline;
	&:after{
		content:"|";
	}
	&:last-child:after{
		content:"";
	}
	&:last-child{
		display: block;
	}
}

.footer li a{
	font-family:$ff-headline;
	font-size:.75rem; //12px
	text-transform:uppercase;
	color:$yellow;
	
	.no-touch &:hover{
		@include transition(color .5s);
		color:$white;
	}

}

.footer li:last-child a{
	color:$white;
	.no-touch &:hover{
		@include transition(color .5s);
		color:darken($white, 50%);
	}
}

.footer li:nth-last-of-type(2):after{
	content:"";
}

section.block.block-block.block-block-41{
	margin-bottom:1rem;
}

section.block.block-block.block-block-41 p a{
	margin:4px;
	display:inline-block;
	opacity:1;
	@include transition(opacity .5s);

	&:hover{
		opacity:.5;
	}
}


//USER LOGIN

.crm-container .crm-section .label{
	float:none;
	width:initial;
	display:inline;
	text-align: right;
    color: $darkBlue;
    font-family: $ff-body-bold;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    margin: 0;
    padding: 0;
}

.crm-container .crm-section .label:after{
	content:':';
    color: $darkBlue;
    font-family: $ff-body-bold;
}

.crm-container .crm-section .content{
	float:none;
	display:inline;
	margin:0;
	padding:0;
}

.crm-container .crm-section:last-of-type{
	margin-bottom:40px;
}

.profile h3{
	padding-bottom:10px;
	margin-bottom:20px;
}

//EDIT USER DATA 

div#edit-1 > label{
	display: none;
}

.crm-container .crm-section label{
	float:none;
	width:initial;
	display:inline;
	text-align: right;
    color: $darkBlue;
    font-family: $ff-body-bold;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    margin: 0;
    padding: 0;
}

a.crm-hover-button.crm-clear-link{
	display:none;
}

#crm-container.crm-public input[type="text"]{
	border:1px solid #ccc;
	background-image:none;
	box-shadow: none;
	border-radius:0;
}

.page-user-edit .crm-container .crm-section .content{
	display:block;
}

#edit-actions button{
	color:$white;
	background:$darkBlue;

	&:hover{
		background:$blue;
	}
}

//DROPMENU

.select2-container {
	margin-bottom:20px;
}

.select2-container .select2-choice{
	border-radius:0;
	line-height: 1;
	height:auto;
	color:$black;
	background-image:none;
}

.crm-container a, .crm-container a:link, .crm-container a:visited{
	color:$black;
}

.select2-container .select2-choice .select2-arrow{
	border-radius: 0;
	background-image:none;
	background:#ccc;
}


.node-readmore span.element-invisible {display:none;}


//FORM

.alert-box.secondary {
  background-color: #036cb6 !important;
  border-color: #036cb6 !important;
  color: #ffffff !important;
}

FORM.node-whats_happening_near_you-form button#edit-preview {
	display: none;
}

.form-submit {
	margin-top: 10px !important;	
}

input[type="file"],
input[type="checkbox"],
input[type="radio"],
select {
  margin: 0 .3rem 0 0;
}

.block-menu-block-3 ul ul {
margin-top: 10px !important;
}


